{% load cms_tags sekizai_tags %}

<!doctype html>
<head>
<title>{{ request.current_page.get_title }}</title>
{% render_block "css" %}
<link 
  rel="bookmark icon" 
  href="/_assets/favicon.ico" />
</head>

<body>
{% cms_toolbar %}
{% placeholder "main" %}
{{ results }}
{% render_block "js" %}
</body>
</html>

{% addtoblock "js" %}
{% endaddtoblock %}

{% addtoblock "css" %}
{% endaddtoblock %}

